/*access.php page layout*/
#accessHeader{
	position: relative;
	height: 30px;
	vertical-align: middle;
	z-index:	1;
	color: #fff;
	/*background: green;*/
	/*border-width: 1px;
	border-bottom-style: solid;*/

}

#accessBody{
	position: relative;
	min-width: 1180px;
	max-width: 1180px;
	left: 10px;
	z-index:	1;
	/*height:335px;*/
	border: 1px solid Gray;
	background: #fff;
	margin-top:10px;
}

#leftContainer{
	position: absolute;
	min-width: 600px;
	max-width: 600px;
	/*height: 10px;*/
	top: 10px;
	left: 10px;
	z-index:	1;
	/*background: red;*/
}

#rightContainer{
	position: absolute;
	min-width: 330px;
	max-width: 330px;
	/*height: 10px;*/
	top: 10px;
	left: 870px;
	z-index:	1;
	/*background: blue;*/
}
